.feedbackCard {
  background-color: aquamarine;
}
.feedbackTitle {
  background-color: azure;
}
.feedbackList {
  list-style: none;
  background-color: bisque;
}
.feedbackItem {
  display: flex;
  justify-content: space-between;
}

button {
  font-size: 18px;
  display: block;
  margin-top: 20px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 3px;
  background-color: bisque;
}
